.section2{
    background-color: #52688F;
    border-top: 5px solid #7C5E99;
    border-bottom: 5px solid #7C5E99;
    height: auto;
    padding-top: 50px;
    padding-bottom: 100px;
    
    
}

.section2 .wrapper2 {
    font-family: Fira Code, monospace;
    font-size: 40px;
    text-align: center;
    display: block;
}

.ico_wrapper{
    display: flex;
    flex-direction: row;
    width: auto;
    width: 400px;
    


}

.ico_title{
    font-family: 'Press Start 2P', cursive;
    display: block;
    margin-bottom: 8px;
}
.ico_bar{
    margin-top: 8px;
    position: relative;
    background-color: #7C5E99;
    width: 210px;
    height: 30px;
    border: 5px solid #000;

}
 .teste3{
     flex-direction: row;
     flex-wrap: wrap;
     flex: 1;
 }

 